.s-hero {
    margin-bottom: var(--section-spacing);
    --section-spacing: 0;
    height: 100vh;

    &__image {
        left: 0;
        object-fit: cover;
        position: absolute;
        top: 0;
        height: 100vh;
        width: 100%;
    }

    &__container {
        width: 100%;
        left: 0;
        object-fit: cover;
        position: absolute;
        top: 0;
        height: 100vh;
    }

    &__button {
        text-align: center;
        bottom: 0;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        bottom: 1rem;
        background-color: var(--primary);
        color: white;
        text-decoration: none;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        top: 20%;
        color: white;

        span {
            font-family: "Cinzel", serif;
            &:nth-child(1) {
                font-size: 4rem;
            }

            &:last-child {
                font-size: 1.5rem;
            }
        }
    }
}