.s-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Cinzel", serif;
    color: white;
    height: 2rem;
    background-color: var(--primary);
    overflow: auto;
    font-size: 0.625rem;
}