$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-l: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;

.s-container-media {
    $root-node: &;

    &__container {
        line-height: 2rem;
        flex-direction: column;
       
        @media (min-width: $breakpoint-md) {
            display: flex;
            justify-content: center;
            align-items: center;    
            gap: 3rem;   
        }

        @media (min-width: $breakpoint-xxl) {
            padding-inline: 20rem;
            padding-block: 2rem;
        }

        &--1 {
            gap: 2rem;
            @media (min-width: $breakpoint-l) {
                padding: 0 10rem;
            }

            @media (min-width: $breakpoint-xl) {
                flex-direction: row;
                justify-content: center;
                padding: 0 21rem;

                .s-container-media__image {
                    max-width: 50%;
                    height: auto;
                    flex-shrink: 1;
                }
            }
        }

        &--2 {
            .s-container-media {
                &__image {
                    max-width: unset;
                }
            }

            padding-bottom: 0;
        }
        
        &--3 {
            padding-top: 0;
        }

        &--4, &--6 {
            .s-container-media {
                &__image {
                    @media (min-width: $breakpoint-l) {
                        max-width: 25rem;
                    }
                }
            }
        }

        &--4 {
            @media (min-width: $breakpoint-xxl) {
                flex-direction: row-reverse;
            }
        }

        &--6 {
            @media (min-width: $breakpoint-xxl) {
                flex-direction: row;
                
                .s-container-media {
                    &__paragraph {
                        max-width: 20rem;
                    }
                }
            }
        }

        &--7 {
            .s-container-media {
                &__paragraph {
                    color: black;
                    text-align: right;
                    font-family: "Cinzel", serif;
                    font-size: 1.5rem;
                }
            }
        }

        &--8 {
            position: relative;

            @media (min-width: $breakpoint-md) {
                display: flex;
                flex-direction: row;
                gap: 0;
            }

            .s-container-media {
                &__image {
                    @media(min-width: $breakpoint-md) {
                        max-height: 12rem;
                    }

                    @media(min-width: $breakpoint-l) {
                        max-height: 16rem;
                    }

                    @media (min-width: $breakpoint-xl) {
                        max-height: 18rem;
                    }

                    @media (min-width: $breakpoint-xl) {
                        max-height: 20rem;
                    }
                }
            }
        }
    }

    &__image {
        width: 100%;
    }

    &__paragraph {
        font-family: "Montserrat", sans-serif;
        color: var(--primary);     
    }

    &__button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}