@import '../../../styles.scss';

.s-container-media {
    $root-node: &;

    &__container {
        line-height: 2rem;
        flex-direction: column;
       
        @media (min-width: $breakpoint-md) {
            display: flex;
            justify-content: center;
            align-items: center;    
            gap: 3rem;   
        }

        @media (min-width: $breakpoint-xxl) {
            padding-inline: 20rem;
            padding-block: 2rem;
        }

        &--1 {

            @media (min-width: $breakpoint-lg) {
                padding: 0;
            }

            .s-container-media {

                @media (min-width: $breakpoint-lg) {
                    &__images {
                        display: flex;
                        justify-content: space-between;
                        padding-inline: 20rem;
                    }
                }

                &__image {
                    @media (min-width: $breakpoint-lg) {
                        max-width: 49%;
                    }
                }
            }
        }

        &--2 {
            .s-container-media {
                &__image {
                    max-width: unset;
                }
            }

            padding-bottom: 0;
        }
        
        &--3 {
            padding-top: 0;
        }

        &--4, &--6 {
            .s-container-media {
                &__image {
                    @media (min-width: $breakpoint-lg) {
                        max-width: 25rem;
                    }
                }
            }
        }

        &--4 {
            .s-container-media {
                &__images {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    width: 100%;
                }

                &__image {
                    @media (min-width: $breakpoint-lg) {
                        min-width: 20rem;
                    }
                }
            }

            @media (min-width: $breakpoint-lg) {
                flex-direction: row-reverse;
            }
        }

        &--6 {
            @media (min-width: $breakpoint-xxl) {
                flex-direction: row;
                
                .s-container-media {
                    &__paragraph {
                        max-width: 20rem;
                    }
                }
            }
        }

        &--7 {
            .s-container-media {
                &__paragraph {
                    color: black;
                    text-align: right;
                    font-family: "Cinzel", serif;
                    font-size: 1.5rem;
                }
            }
        }

        &--8 {
            position: relative;

            .s-container-media {

                &__images {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: 100%;

                    @media (min-width: $breakpoint-md) {
                        display: flex;
                        flex-direction: row;
                        gap: 0;
                    }
                }

                &__image {
                    @media(min-width: $breakpoint-md) {
                        max-height: 12rem;
                    }

                    @media(min-width: $breakpoint-lg) {
                        max-height: 16rem;
                    }

                    @media (min-width: $breakpoint-xl) {
                        max-height: 18rem;
                    }

                    @media (min-width: $breakpoint-xl) {
                        max-height: 20rem;
                    }
                }
            }
        }
    }

    &__image {
        width: 100%;
    }

    &__paragraph {
        font-family: "Montserrat", sans-serif;
        color: var(--primary);     
    }

    &__button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}