@import '../../../styles.scss';

.p-you-are-invited {

    &__text {
        position: absolute;
        max-width: 20rem;
        top: 10rem;

        @media (min-width: $breakpoint-sm) {
            max-width: 35rem;
        }
    }

    &__button {
        position: absolute;
        bottom: 2rem;
        left: 5rem;
        border-radius: 2rem;
        background-color: var(--secondary);
        color: var(--tertiary);
        font-weight: 700;
    }
}